<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
    <script type="module" src="/js/tasks.js"></script>
    <script src="https://kit.fontawesome.com/60cc3418d0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/tailwind.css">
    <style>
        .task-container {
            max-width: 600px;
            margin: auto;
            margin-top: 2rem;
        }
        .task-item {
            transition: transform 0.2s ease-in-out;
        }
        .task-item:hover {
            transform: scale(1.02);
        }
    </style>
</head>
<%-include('partials/sidebar.ejs')%>
<%-include('partials/header.ejs')%>

    <header class="text-center py-6 bg-indigo-500 text-white">
        <h1 class="text-3xl font-bold">User Tasks</h1>
    </header>

    <div class="task-container">
        <div class="user-tasks space-y-4 text-black">
       
        </div>
    </div>

    <% tasks.forEach(task => { %>
        <div class="task-container">
            <div class="task-item flex items-center justify-between p-4 font-black rounded-lg shadow-md ">
                <p class="task-text text-lg font-semibold">Task Name : <%=task.task_name %> Due Date : <%= task.due_date %> Status : <%= task.status %> priority : <%= task.priority%> </p>
                <div class="flex items-center space-x-2">
                    
                    <button class="status-pending p-2 rounded-full hover:bg-yellow-200 transition">
                        <i class="fas fa-hourglass-half text-yellow-500"></i>
                    </button>
                    <button class="status-done p-2 rounded-full hover:bg-green-200 transition">
                        <i class="fas fa-check-circle text-green-500"></i> 
                    </button>
                    
                        <button id="update-task-btn" class="p-2 rounded-full hover:bg-blue-200 transition" data-task-id="<%= task.task_id %>">
                            <i class="fas fa-edit text-blue-500"></i>
                        </button>
                  
                 
                </div>
            </div>
    
    <% }) %>
 

    <div class="task-functions">
        <div id="add_task_btn" class="add_task_btn flex justify-end">
            <button id="addTaskBtn" class=  "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Add Task
            </button>
        </div>
    </div>
</div>


    <%-include("partials/forms.ejs")%>

</body>
</html>
